body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

html{
    height:100%;
r   width: 100%;
}

.content {
    margin: 50px auto 0 auto;
    flex: 1 0 auto;
    width: 1000px;
}

.footer {
    flex-shrink: 0;
    margin:15px;
    height: 100px;
    padding: 20px;
}

.form_block {
    width: 60%;
    margin: 0 auto;
}

.uploadFiles {
    margin-top: 5px;
}

.uploadFiles .mb-2 {
    margin: 0 0 0 10px;
}

.custom-file {
    width: 200px;
}

.custom-file-label {
    text-align: left !important;
    justify-content: left !important;
    overflow: hidden !important;
}

.icons {
    right: 15px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    transform: scaleX(-1); 
    position: fixed;
    z-index: 10000;
    border-radius: 25px;
    border: 3px solid #000000;
    padding: 2.5px 10.5px;
    margin: 0 auto;
}
    
.icons:hover {
    color: #ffffff;
    background-color: #000000;
}

.modal-body {
    width: 90%;
    margin: 0 auto;
}

.doc {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-doc { font-size: .875rem; }
.material-icons.md-mod { font-size: .875rem; line-height: 1.5; }

.doc_buttons {
    font-family: 'Inconsolata', monospace;
}

.doc_buttons_l {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

.auth_buttons {
    padding: .125rem .25rem;
}

.auth_user {
    margin-bottom: 10px;
}

.pages {
    display: inline-block;
    margin: 25px auto;
}
