{% extends "base.html" %}

{% block title %}SocketIO Test Page{% endblock %}

{% block content %}

<button type="button" class="btn btn-lg btn-light" data-toggle="modal" data-target="#exampleModal">Collaborate</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Collaborate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="collaborator"i class="col-auto col-form-label">Collaborator</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="collaborator">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
</div>
<div class="doc"> 
{% for n,s in URLS %}
<div class="pages">
    <canvas id="mainCanvas" class="canv"  style='border: 1px solid black; background-image: url({{'/image/%s'%n}});' width="{{s[0]}}" height="{{s[1]}}" ></canvas>
    <p>{{n.split("=")[1]}}</p>
</div>

{% endfor %}
</div>
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wsdocument.js') }}"></script>
{% endblock %}
