{% extends "base.html" %}

{% block title %}{{ detail['document_name'] }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm">
        <h2>{{ detail['document_name'] }}</h2>
        </div>
        <div class="col-sm text-right">
            {% if not detail['public'] %}
            <button type="button" class="btn btn-danger doc_buttons {{ '' if detail['owner'] == user else 'disabled' }}" id="pubpriv">private <i class="material-icons md-doc">lock</i></button>
            {% endif %}
            {% if detail['public'] %}
            <button type="button" class="btn btn-success doc_buttons {{ '' if detail['owner'] == user else 'disabled' }}" id="pubpriv">public <i class="material-icons md-doc">lock_open</i></button>
            {% endif %}
            {% if detail['owner'] == user %}
            <!--<button type="button" class="btn btn-secondary doc_buttons" data-toggle="modal" data-target="#exampleModal">collaborate <i class="material-icons md-doc">people_alt</i></button>-->
            {% endif %}
        </div>
    </div>



<div class="fixed-bottom tools">
<input class="jscolor {position:'right'} btn btn-circle btn-md tools_buttons" onchange="updatecolor(this.jscolor)" value="000000">
<button type="button" id="highlight_button" class="btn btn-circle btn-md tools_buttons" style="background: #a9a9a9;" onclick="updatehighlight(this)"><img height="25" width="auto" src="{{ url_for('static', filename='img/highlighter.png') }}"></img></button>
<button type="button" id="eraser_button" class="btn btn-light btn-circle btn-md tools_buttons" onclick="updateeraser(this)"><img height="25" width="auto" src="{{ url_for('static', filename='img/eraser.png') }}"></img></button>
<!-- <button type="button" class="btn btn-primary btn-md tools_buttons" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. "></button> -->
</div>
 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Collaborate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="customSwitch1"></div>
                    <label for="collaborator" class="col-auto col-form-label">Add collaborator</label>
                    <div class="col-auto" style="padding: 0 0 0 15px;"><input type="text" class="form-control" id="collaborator" style="border-radius: .25rem 0 0 .25rem;"></div>
                    <button type="submit" class="btn btn-sm btn-primary" style="border-radius: 0 .25rem .25rem 0;"><i class="material-icons md-mod">person_add</i></button>
                </div>
            </form>
            <div>
                <div class="auth_user">
                    <div class="auser">{{user}} <button class="btn btn-sm btn-info doc_buttons auth_buttons">owner</button></div>
                </div>
                <div class="auth_user">
                    <div class="auser">usrname <button class="btn btn-sm btn-success doc_buttons auth_buttons">read</button></div>
                </div>
                <div class="auth_user">
                    <div class="auser">usrname <button class="btn btn-sm btn-success doc_buttons auth_buttons">write</button></div>
                </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
</div>
<div class="doc"> 
    <div id="pageContainer">
        {% for n,s in URLS %}
            <div class="pages">
                <canvas class="documentCanvas"  style='border: 1px solid black; background-image: url({{'/image/%s'%n}});' width="{{s[0]}}" height="{{s[1]}}" ></canvas>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wsdocument.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jscolor.js') }}"></script>
    <script> 
    $(document).ready(function(){ 
        $('[data-toggle="popover"]').popover();    
    }); 
    </script> 
{% endblock %}
