{% extends "base.html" %}

{% block title %}SocketIO Test Page{% endblock %}

{% block content %}

<a tabindex="0" class="btn btn-lg btn-light" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Collaborate</a>

{% for each in URLS %}
<img src={{'/image/%s'%each}}>
{% endfor %}

<canvas id='mainCanvas' height="500" width="720" style='border: 1px solid black'></canvas>

{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wsdocument.js') }}"></script>
{% endblock %}
